In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#convert the excel file to csv
data = pd.read_excel('data.xlsx',engine='openpyxl')
data.to_csv('data.csv',index=False)

In [3]:
data2=pd.read_csv('data.csv')
data2.head()

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
0,2012.916667,32.0,84.87882,10,24.98298,121.54024,1,575,37.9
1,2012.916667,19.5,306.59470,9,24.98034,121.53951,2,1240,42.2
2,2013.583333,13.3,561.98450,5,24.98746,121.54391,3,1060,47.3
3,2013.500000,13.3,561.98450,5,24.98746,121.54391,2,875,54.8
4,2012.833333,5.0,390.56840,5,24.97937,121.54245,1,491,43.1

In [4]:
df=data.copy(deep=True)
df.head()

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
0,2012.916667,32.0,84.87882,10,24.98298,121.54024,1,575,37.9
1,2012.916667,19.5,306.59470,9,24.98034,121.53951,2,1240,42.2
2,2013.583333,13.3,561.98450,5,24.98746,121.54391,3,1060,47.3
3,2013.500000,13.3,561.98450,5,24.98746,121.54391,2,875,54.8
4,2012.833333,5.0,390.56840,5,24.97937,121.54245,1,491,43.1

In [5]:
#drop the columns that are not needed
# latitude and longitude are not needed 
df.drop(['latitude','longitude'],axis=1,inplace=True)

In [6]:
#sum the null values in each column
df.isnull().sum()

Transaction date                            0
House Age                                   0
Distance from nearest Metro station (km)    0
Number of convenience stores                0
Number of bedrooms                          0
House size (sqft)                           0
House price of unit area                    0
dtype: int64

In [7]:
df.dtypes

Transaction date                            float64
House Age                                   float64
Distance from nearest Metro station (km)    float64
Number of convenience stores                  int64
Number of bedrooms                            int64
House size (sqft)                             int64
House price of unit area                    float64
dtype: object

In [9]:
#chaange the colum name  House price of unit area to price
df.rename(columns={'House price of unit area':'price'},inplace=True)

In [12]:
#predict the house price in unit area based on the other features

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

#split the data into train and test
X=df.drop(['price'],axis=1)
y=df['price']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

#train the model
regressor=LinearRegression()
regressor.fit(X_train,y_train)

#predict the test data
y_pred=regressor.predict(X_test)


#calculate the mean squared error
mse=mean_squared_error(y_test,y_pred)
print(mse)

#accuracy of the model
accuracy=regressor.score(X_test,y_test)
print(accuracy)

62.99649897266053
0.6373237941082361

In [18]:
#random forest regressor
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor()
regressor.fit(X_train,y_train)
y_pred=regressor.predict(X_test)
mse=mean_squared_error(y_test,y_pred)

#accuracy of the model
accuracy=regressor.score(X_test,y_test)
print(accuracy)

0.7741147413653124

In [19]:
#LGBM regressor
from lightgbm import LGBMRegressor
regressor=LGBMRegressor()
regressor.fit(X_train,y_train)
y_pred=regressor.predict(X_test)
mse=mean_squared_error(y_test,y_pred)

#accuracy of the model
accuracy=regressor.score(X_test,y_test)
print(accuracy)

0.758944896216714

As we can see the random forest regressor has the highest accuracy because it is a ensemble model and it is a tree based model,where as the linear regression is a linear model and the LGBM regressor is a gradient boosting model
So the random forest regressor is the best model for this dataset